DATABASE_URL='postgresql://user:password@localhost:5432/mydb';
DIRECT_URL=
JWT_SECRET='your_jwt_secret_key_here'
REDIS_URL=
REDIS_PORT=

S3_API_ENDPOINT=
S3_BUCKET_NAME=
S3_API_TOKEN=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ACCOUNT_ID=

# API Key
GROQ_API_KEY=
GEMINI_API_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
